* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #101010;
  height: 100vh;
  width: 100vw;
  color: #fff;
  text-align: left;
  position: fixed;
  overflow: hidden;
  font-family: "Arial", sans-serif;
  padding: 16px 5vw;
}

.label {
  background-color: #f9b838;
  color: #000;
  padding: 16px 30px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 15%;
  left: 10%;
  letter-spacing: 0.5px;
  box-shadow: 10px 10px 0px rgb(74, 68, 66);
  z-index: 3;
}

.title {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 3;
}

.subtitle {
  font-size: 100px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  position: absolute;
  top: calc(35% + 12%);
  left: 10%;
  z-index: 3;
}

.company {
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #888;
  position: absolute;
  bottom: 20px;
  text-transform: uppercase;
  text-align: left;
  top: 70%;
  left: 10%;
}

.company-info {
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 2px;
  position: absolute;
  top: calc(70% + 4%);
  left: 10%;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
      circle at 35% top,
      rgb(20, 145, 82, 0.6),
      transparent 20%
    ),
    radial-gradient(
      circle at 80% bottom,
      rgb(176, 123, 224, 0.6),
      transparent 20%
    );
  pointer-events: none;
}

.grid-overlay {
  position: absolute;
  top: 2%;
  left: 5%;
  width: 35%;
  height: 55%;
  background-image: linear-gradient(#808080 5px, transparent 1px),
    linear-gradient(90deg, #808080 5px, transparent 1px),
    linear-gradient(#808080 5px, transparent 1px),
    linear-gradient(90deg, #808080 5px, transparent 1px);
  background-size: 65px 65px;
  opacity: 0.1;
  pointer-events: none;
  border-radius: 50%;
  z-index: 2;
}

@media (max-width: 1024px) {
  .title,
  .subtitle {
    font-size: 60px;
  }
  .label {
    font-size: 16px;
    padding: 10px 20px;
  }
  .company,
  .company-info {
    font-size: 18px;
  }
  .grid-overlay {
    width: 25%;
    height: 45%;
  }
}

@media (max-width: 768px) {
  .title,
  .subtitle {
    font-size: 42px;
  }
  .label {
    font-size: 14px;
    padding: 8px 16px;
  }
  .company,
  .company-info {
    font-size: 16px;
  }
  .grid-overlay {
    width: 25%;
    height: 35%;
    top: 5%;
    left: 7%;
  }
}

@media (max-width: 480px) {
  .title,
  .subtitle {
    font-size: 28px;
  }
  .label {
    font-size: 12px;
    padding: 6px 12px;
  }
  .company,
  .company-info {
    font-size: 12px;
  }
  .grid-overlay {
    width: 30%;
    height: 30%;
    top: 10%;
    left: 10%;
  }
}
